.container {
  min-width: 320px;
  width: auto;
  max-width: 1020px;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: block;
  max-width: inherit;
  width: auto;
  min-width: inherit;
  padding: 5px;
  background-color: #dae3ff;
  border-radius: 10px;
}

.header-buttons,
.forms-container {
  min-width: inherit;
  width: auto;
  max-width: 500px;
  margin: 10px auto;
}

.header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-buttons button {
  display: block;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #0064bb;
  border-radius: 10px;
  background-color: #42a7ff;
}

.forms-container {
  /* background-color: #dae3ff; */
  padding: 10px;
  border-radius: 10px;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: inherit;
  width: auto;
  max-width: inherit;
  /* border: 2px solid lightcoral; */
}

.task {
  width: 320px;
  padding: 5px;
  margin: 5px;
  border: 2px solid lightblue;
  border-radius: 10px;
}

.task-title {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

.task-details {
  background-color: #c9c9c9;
  font-size: 1.2rem;
  padding: 4px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-evenly;
}

.member {
  list-style: none;
  padding: 5px;
  font-weight: 600;
  background-color: #a9a9a9;
  border-radius: 5px;
  display: block;
  margin: 3px;
  text-align: center;
}
