<form #addTaskForm="ngForm" (ngSubmit)="addTask(addTaskForm)">
  <div class="inputs">
    <input
      type="text"
      id="task-title"
      name="taskTitle"
      placeholder="task title"
      required
      ngModel
    />
    <textarea
      name="taskDetails"
      id="task-details"
      placeholder="enter a description about the task"
      cols="30"
      rows="10"
      required
      ngModel
    ></textarea>
  </div>
  <!-- Members Section -->
  <div *ngIf="members.length > 0">
    <ul>
      <li
        #liElement
        *ngFor="let member of members"
        (click)="selectedMember(member, liElement)"
      >
        {{ member.name | slice: 0:2 }}
      </li>
    </ul>
  </div>
  <!-- <div></div> -->
  <div>
    <button type="submit">ADD TASK</button>
  </div>
</form>
