<form #addTaskForm="ngForm" (ngSubmit)="addTask(addTaskForm)">
  <div class="inputs">
    <label for="title">Task Title</label>
    <input
      type="text"
      id="task-title"
      name="taskTitle"
      placeholder="task title"
      required
      ngModel
    />
    <textarea
      name="taskDetails"
      id="task-details"
      placeholder="enter a description about the task"
      cols="30"
      rows="10"
      required
      ngModel
    ></textarea>
  </div>
  <!-- Members Section -->
  <div>
    <ul>
      <li *ngFor="let member of members" (click)="selectedMember(member)">
        {{ member.name }}
      </li>
    </ul>
  </div>
  <!-- <div></div> -->
  <div>
    <button type="submit">Add Task</button>
  </div>
</form>
