.inputs {
  padding: 5px;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
}

label {
  text-align: center;
  font-size: 1.3rem;
  padding: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 110px;
  justify-content: space-evenly;
  overflow-y: hidden;
}

ul:hover {
  overflow-y: scroll;
}

li {
  list-style-type: none;
  height: 50px;
  width: 50px;
  margin: 15px;
  line-height: 50px;
  text-align: center;
  background-color: darkgray;
  border-radius: 50%;
  font-weight: 900;
}

li:hover {
  cursor: pointer;
}

.active {
  border: 2px solid green;
}
