.inputs {
  padding: 5px;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
}

label {
  text-align: center;
  font-size: 1.3rem;
  padding: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 110px;
  justify-content: space-evenly;
  overflow-y: hidden;
}

ul:hover {
  overflow-y: scroll;
}

li {
  list-style-type: none;
  height: 50px;
  width: 50px;
  margin: 15px;
  line-height: 50px;
  text-align: center;
  background-color: darkgray;
  border-radius: 50%;
  font-weight: 900;
}

li:hover {
  cursor: pointer;
}

#task-title {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: monospace;
}

#task-details {
  border-radius: 10px;
  height: 300px;
}

.active {
  border: 2px solid green;
}

button {
  width: 97%;
  margin: 0 auto;
  display: block;
  padding: 3px;
  border-radius: 10px;
  border-style: double;
  background-color: #bce0ff;
  border-color: #42a7ff;
}

button:hover {
  background-color: #42a7ff;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 600;
}
